<header>
    <div class="logo">
        <!-- Your logo placeholder goes here -->
        <img src="assets/wizvision_logo.png" alt="Logo">
    </div>
    <nav class="nav-links">
        <ul>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/tasks">Tasks</a></li>
            <li><a routerLink="/booking">Book Room</a></li>
            <li><a routerLink="/bookings"> Leave Calendar</a></li>
            <li><a routerLink="/bookings"> Employees Info</a></li>

            <!-- Add more tabs as needed -->
        </ul>
    </nav>
    <div class="user-info">
        <!-- Display the user's full name -->
        <span>fullName</span>
        <!-- Button to redirect to profile page -->
        <button>Profile</button>
    </div>
</header>