<div class="container">
    <h1>Your account has not been verified yet.</h1>
    <p>Please check your email for the verification link.</p>
    <p>If you haven't received the email, you can request a new verification link.</p>
    <p>Once your email is verified, you will be able to log in and access your account.</p>
  <button class="resent-button" (click)="resendVerificationEmail()">Resend a new verification email</button>
  <br>
  <br>
  <button class="return-button" (click)="returnToHomePage()">Return To Home Page</button>
</div>

