<h2 mat-dialog-title class="centered-title">Edit Meeting Room Capacity</h2>
<div mat-dialog-content>
    <p>Enter the new meeting room capacity for {{ meetingRoomName }} </p>
    <div fxLayout="column" fxLayoutGap="8px"> <!-- Adjust fxLayoutGap as needed -->
        <!-- First input for meeting room name -->
        <mat-form-field appearance="fill">
            <mat-label>New Meeting Room Capacity</mat-label>
            <input matInput placeholder="Meeting room capacity" [(ngModel)]="newMeetingRoomCapacity" type="number">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button type="button" class="btn btn-danger" (click)="onBackButton()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="onConfirm()">Confirm Edit Capacity</button>
</div>