<app-header-admin></app-header-admin>

<div class="square-box">
    <!-- First Section: Header -->
    <div class="header">
        <div class="left">
            <h2>Make A New Booking</h2>
        </div>
    </div>

    <!-- Second Section: Dropdowns -->
    <div class="dropdowns">
        <div class="dropdown">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" [(ngModel)]="selectedDate" (ngModelChange)="onDateChange(); checkInputs()" [min]="minDate">


        </div>

        <div class="dropdown">
            <label for="roomselection">Room</label>
            <select id="roomselection" [(ngModel)]="selectedRoom" (ngModelChange)="onRoomChange(); checkInputs()" [disabled]="!selectedDate">
              <option *ngFor="let room of meetingRooms" [value]="room">{{ room }}</option>
            </select>
        </div>
        <div class="dropdown">
            <button type="submit" (click)="search()" [disabled]="!inputsFilled" class="search-button">Search</button>
        </div>
    </div>
</div>
<br>
<!-- Third Section: Time Slots (Hidden by default) -->
<div class="time-slots" *ngIf="showTimeSlots">
    <button class="time-slot" [class.selected]="isSelected(timeSlot)"
        *ngFor="let timeSlot of timeSlots"
        (click)="toggleTimeSlot(timeSlot)">{{ timeSlot }}</button>

    <!-- Add the "Next" button after the last time slot button -->
    <button *ngIf="this.timeSlots.length > 0" class="grey-button" (click)="onNextButtonClick()">Next</button>
    <ng-container *ngIf="this.timeSlots.length <= 0">
        <div style="margin: auto; width: fit-content;">
            <h5 id="noBookingSlots">No available time slots remaining</h5>
        </div>
    </ng-container>
</div>

<br>

<button *ngIf="showTimeSlots" (click)="showMeetingRoomDetails()" class="bookedDetails-button">
    <span *ngIf="!bookedDetailsSelected">Booked Timeslots Details</span>
    <span *ngIf="bookedDetailsSelected">Booked Timeslots Details</span>
    <i class="bi bi-toggle2-off ms-2" *ngIf="!bookedDetailsSelected"></i>
    <i class="bi bi-toggle2-on ms-2" *ngIf="bookedDetailsSelected"></i>
</button>

<br>

 <!-- Load showMeetingRoomOneDetails -->
<ng-container *ngIf="bookedDetailsSelected == true">
    <br>
    <div class="booking-list-container">
      <table class="booking-list">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time Slots</th>
            <th>Meeting Room</th>
            <th>Purpose</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let calendar of retrievedCalendarDetails">
            <td>{{ calendar.date | date: 'yyyy-MM-dd' }}</td>
            <td>
              <ul>
                <li *ngFor="let timeslot of calendar.timeslots">{{ timeslot }}</li>
              </ul>
            </td>
            <td>{{ calendar.meetingRoom }}</td>
            <td>{{ calendar.purpose }}</td>
            <td>{{ calendar.firstName + ' ' + calendar.lastName }}</td>
            <td>{{ calendar.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>