<!-- login.component.html -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                <h1>Login</h1>


                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="stname"/>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="stname"/>
                </div>
                <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
                <br><br>
                <div style="display: flex; justify-content: center;">
                    <a routerLink="/register" class="custom-link">Don't have an account? Click here to register</a>
                  </div>
            </form>
        </div>
    </div>
</div>