<app-header></app-header>

<br><br>

<div class="booking-list-container">
    <table class="booking-list">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Mobile No.</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let retrievedEmployeeDetail of retrievedEmployeeDetails">
            <td>{{ retrievedEmployeeDetail.firstname }}</td>
            <td>{{ retrievedEmployeeDetail.lastname }}</td>
            <td>{{ retrievedEmployeeDetail.email }}</td>
            <td>{{ retrievedEmployeeDetail.mobileNo }}</td>
            <td>{{ retrievedEmployeeDetail.department }}</td>
          </tr>
        </tbody>
      </table>

</div>
